In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
dates = pd.date_range('2017-05-01', periods=30)
print dates

DatetimeIndex(['2017-05-01', '2017-05-02', '2017-05-03', '2017-05-04',
               '2017-05-05', '2017-05-06', '2017-05-07', '2017-05-08',
               '2017-05-09', '2017-05-10', '2017-05-11', '2017-05-12',
               '2017-05-13', '2017-05-14', '2017-05-15', '2017-05-16',
               '2017-05-17', '2017-05-18', '2017-05-19', '2017-05-20',
               '2017-05-21', '2017-05-22', '2017-05-23', '2017-05-24',
               '2017-05-25', '2017-05-26', '2017-05-27', '2017-05-28',
               '2017-05-29', '2017-05-30'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df = pd.DataFrame(np.random.randn(30,4), index=dates, columns=list('ABCD'))
print df[0:3]

                   A         B         C         D
2017-05-01 -0.854713  1.088520  0.601211  0.248885
2017-05-02  1.822732  0.764971 -0.725108  0.579239
2017-05-03 -0.378096  0.088730  0.399133 -1.021112

In [24]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [29]:
df.A.max()

1.8227315229877155

In [30]:
df.index

DatetimeIndex(['2017-05-01', '2017-05-02', '2017-05-03', '2017-05-04',
               '2017-05-05', '2017-05-06', '2017-05-07', '2017-05-08',
               '2017-05-09', '2017-05-10', '2017-05-11', '2017-05-12',
               '2017-05-13', '2017-05-14', '2017-05-15', '2017-05-16',
               '2017-05-17', '2017-05-18', '2017-05-19', '2017-05-20',
               '2017-05-21', '2017-05-22', '2017-05-23', '2017-05-24',
               '2017-05-25', '2017-05-26', '2017-05-27', '2017-05-28',
               '2017-05-29', '2017-05-30'],
              dtype='datetime64[ns]', freq='D')

In [31]:
df.describe()

               A          B          C          D
count  30.000000  30.000000  30.000000  30.000000
mean   -0.090735  -0.052282   0.076390  -0.214955
std     0.959185   0.814435   0.760570   0.884642
min    -1.943664  -1.918383  -1.784143  -1.514947
25%    -0.852030  -0.451901  -0.440167  -0.848749
50%     0.047166   0.059360   0.161592  -0.352832
75%     0.525520   0.408647   0.449879   0.299411
max     1.822732   1.666413   1.596325   2.081711

In [33]:
df.T

,2017-05-01 00:00:00,2017-05-02 00:00:00,2017-05-03 00:00:00,2017-05-04 00:00:00,2017-05-05 00:00:00,2017-05-06 00:00:00,2017-05-07 00:00:00,2017-05-08 00:00:00,2017-05-09 00:00:00,2017-05-10 00:00:00,...,2017-05-21 00:00:00,2017-05-22 00:00:00,2017-05-23 00:00:00,2017-05-24 00:00:00,2017-05-25 00:00:00,2017-05-26 00:00:00,2017-05-27 00:00:00,2017-05-28 00:00:00,2017-05-29 00:00:00,2017-05-30 00:00:00
A,-0.854713,1.822732,-0.378096,0.292038,0.081527,1.385727,-1.065991,-1.310022,1.412323,0.238547,...,-0.268852,-0.498056,0.911408,-0.827558,0.259476,-0.843983,0.779813,0.987400,-1.943664,0.386559
B,1.088520,0.764971,0.088730,-1.023718,-0.940100,-0.398456,1.666413,-1.697253,-0.994668,0.239728,...,0.295060,0.436604,0.031999,-0.661670,-0.469716,-0.126811,-1.918383,0.036307,0.169873,-0.063963
C,0.601211,-0.725108,0.399133,-0.763466,0.172964,-0.170423,0.248742,0.060190,-1.784143,-1.224379,...,1.269596,0.912364,0.328511,0.265632,0.150220,-0.427408,-0.114351,1.315249,0.054124,0.511825
D,0.248885,0.579239,-1.021112,-0.404163,0.849811,-0.169768,-1.209946,-0.858870,2.081711,-0.255336,...,-0.777452,-0.769434,-1.034400,0.831152,0.923401,-1.225999,-0.164432,0.461306,-1.514947,-0.471762

In [42]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2017-05-01  0.248885  0.601211  1.088520 -0.854713
2017-05-02  0.579239 -0.725108  0.764971  1.822732
2017-05-03 -1.021112  0.399133  0.088730 -0.378096
2017-05-04 -0.404163 -0.763466 -1.023718  0.292038
2017-05-05  0.849811  0.172964 -0.940100  0.081527
2017-05-06 -0.169768 -0.170423 -0.398456  1.385727
2017-05-07 -1.209946  0.248742  1.666413 -1.065991
2017-05-08 -0.858870  0.060190 -1.697253 -1.310022
2017-05-09  2.081711 -1.784143 -0.994668  1.412323
2017-05-10 -0.255336 -1.224379  0.239728  0.238547
2017-05-11 -1.146465 -0.444420 -0.320009  0.129174
2017-05-12  0.094416  0.303949  0.082412 -0.926960
2017-05-13 -0.597016  1.065567  0.324777  0.503820
2017-05-14  0.001459 -0.189280  0.791263 -0.873499
2017-05-15 -0.301501 -0.792799  0.806776  0.012805
2017-05-16  1.693558 -0.465848  0.101188 -0.110089
2017-05-17  0.316253 -0.689709 -0.223585  0.532753
2017-05-18 -0.818385  0.360640  0.622040 -1.728641
2017-05-19 -1.048560  1.596325  0.886322 -1.455702
2017-05-20 -0.740288  0.466794 -1.163103  0.627677
2017-05-21 -0.777452  1.269596  0.295060 -0.268852
2017-05-22 -0.769434  0.912364  0.436604 -0.498056
2017-05-23 -1.034400  0.328511  0.031999  0.911408
2017-05-24  0.831152  0.265632 -0.661670 -0.827558
2017-05-25  0.923401  0.150220 -0.469716  0.259476
2017-05-26 -1.225999 -0.427408 -0.126811 -0.843983
2017-05-27 -0.164432 -0.114351 -1.918383  0.779813
2017-05-28  0.461306  1.315249  0.036307  0.987400
2017-05-29 -1.514947  0.054124  0.169873 -1.943664
2017-05-30 -0.471762  0.511825 -0.063963  0.386559

In [47]:
df.sort_values(by='B')

                   A         B         C         D
2017-05-27  0.779813 -1.918383 -0.114351 -0.164432
2017-05-08 -1.310022 -1.697253  0.060190 -0.858870
2017-05-20  0.627677 -1.163103  0.466794 -0.740288
2017-05-04  0.292038 -1.023718 -0.763466 -0.404163
2017-05-09  1.412323 -0.994668 -1.784143  2.081711
2017-05-05  0.081527 -0.940100  0.172964  0.849811
2017-05-24 -0.827558 -0.661670  0.265632  0.831152
2017-05-25  0.259476 -0.469716  0.150220  0.923401
2017-05-06  1.385727 -0.398456 -0.170423 -0.169768
2017-05-11  0.129174 -0.320009 -0.444420 -1.146465
2017-05-17  0.532753 -0.223585 -0.689709  0.316253
2017-05-26 -0.843983 -0.126811 -0.427408 -1.225999
2017-05-30  0.386559 -0.063963  0.511825 -0.471762
2017-05-23  0.911408  0.031999  0.328511 -1.034400
2017-05-28  0.987400  0.036307  1.315249  0.461306
2017-05-12 -0.926960  0.082412  0.303949  0.094416
2017-05-03 -0.378096  0.088730  0.399133 -1.021112
2017-05-16 -0.110089  0.101188 -0.465848  1.693558
2017-05-29 -1.943664  0.169873  0.054124 -1.514947
2017-05-10  0.238547  0.239728 -1.224379 -0.255336
2017-05-21 -0.268852  0.295060  1.269596 -0.777452
2017-05-13  0.503820  0.324777  1.065567 -0.597016
2017-05-22 -0.498056  0.436604  0.912364 -0.769434
2017-05-18 -1.728641  0.622040  0.360640 -0.818385
2017-05-02  1.822732  0.764971 -0.725108  0.579239
2017-05-14 -0.873499  0.791263 -0.189280  0.001459
2017-05-15  0.012805  0.806776 -0.792799 -0.301501
2017-05-19 -1.455702  0.886322  1.596325 -1.048560
2017-05-01 -0.854713  1.088520  0.601211  0.248885
2017-05-07 -1.065991  1.666413  0.248742 -1.209946

In [50]:
df['A'].sort_values()

2017-05-29   -1.943664
2017-05-18   -1.728641
2017-05-19   -1.455702
2017-05-08   -1.310022
2017-05-07   -1.065991
2017-05-12   -0.926960
2017-05-14   -0.873499
2017-05-01   -0.854713
2017-05-26   -0.843983
2017-05-24   -0.827558
2017-05-22   -0.498056
2017-05-03   -0.378096
2017-05-21   -0.268852
2017-05-16   -0.110089
2017-05-15    0.012805
2017-05-05    0.081527
2017-05-11    0.129174
2017-05-10    0.238547
2017-05-25    0.259476
2017-05-04    0.292038
2017-05-30    0.386559
2017-05-13    0.503820
2017-05-17    0.532753
2017-05-20    0.627677
2017-05-27    0.779813
2017-05-23    0.911408
2017-05-28    0.987400
2017-05-06    1.385727
2017-05-09    1.412323
2017-05-02    1.822732
Name: A, dtype: float64

In [53]:
df.loc[dates[0:2]]

                   A         B         C         D
2017-05-01 -0.854713  1.088520  0.601211  0.248885
2017-05-02  1.822732  0.764971 -0.725108  0.579239

In [54]:
df[0:2]

                   A         B         C         D
2017-05-01 -0.854713  1.088520  0.601211  0.248885
2017-05-02  1.822732  0.764971 -0.725108  0.579239

In [55]:
df.loc[:,['A','B']]

                   A         B
2017-05-01 -0.854713  1.088520
2017-05-02  1.822732  0.764971
2017-05-03 -0.378096  0.088730
2017-05-04  0.292038 -1.023718
2017-05-05  0.081527 -0.940100
2017-05-06  1.385727 -0.398456
2017-05-07 -1.065991  1.666413
2017-05-08 -1.310022 -1.697253
2017-05-09  1.412323 -0.994668
2017-05-10  0.238547  0.239728
2017-05-11  0.129174 -0.320009
2017-05-12 -0.926960  0.082412
2017-05-13  0.503820  0.324777
2017-05-14 -0.873499  0.791263
2017-05-15  0.012805  0.806776
2017-05-16 -0.110089  0.101188
2017-05-17  0.532753 -0.223585
2017-05-18 -1.728641  0.622040
2017-05-19 -1.455702  0.886322
2017-05-20  0.627677 -1.163103
2017-05-21 -0.268852  0.295060
2017-05-22 -0.498056  0.436604
2017-05-23  0.911408  0.031999
2017-05-24 -0.827558 -0.661670
2017-05-25  0.259476 -0.469716
2017-05-26 -0.843983 -0.126811
2017-05-27  0.779813 -1.918383
2017-05-28  0.987400  0.036307
2017-05-29 -1.943664  0.169873
2017-05-30  0.386559 -0.063963

In [61]:
df.A[0:2]

2017-05-01   -0.854713
2017-05-02    1.822732
Freq: D, Name: A, dtype: float64

In [79]:
df_nan = df[df > 0]

In [70]:
df1 = df.copy()
print df1

                   A         B         C         D
2017-05-01 -0.854713  1.088520  0.601211  0.248885
2017-05-02  1.822732  0.764971 -0.725108  0.579239
2017-05-03 -0.378096  0.088730  0.399133 -1.021112
2017-05-04  0.292038 -1.023718 -0.763466 -0.404163
2017-05-05  0.081527 -0.940100  0.172964  0.849811
2017-05-06  1.385727 -0.398456 -0.170423 -0.169768
2017-05-07 -1.065991  1.666413  0.248742 -1.209946
2017-05-08 -1.310022 -1.697253  0.060190 -0.858870
2017-05-09  1.412323 -0.994668 -1.784143  2.081711
2017-05-10  0.238547  0.239728 -1.224379 -0.255336
2017-05-11  0.129174 -0.320009 -0.444420 -1.146465
2017-05-12 -0.926960  0.082412  0.303949  0.094416
2017-05-13  0.503820  0.324777  1.065567 -0.597016
2017-05-14 -0.873499  0.791263 -0.189280  0.001459
2017-05-15  0.012805  0.806776 -0.792799 -0.301501
2017-05-16 -0.110089  0.101188 -0.465848  1.693558
2017-05-17  0.532753 -0.223585 -0.689709  0.316253
2017-05-18 -1.728641  0.622040  0.360640 -0.818385
2017-05-19 -1.455702  0.886322  1.596325 -1.048560
2017-05-20  0.627677 -1.163103  0.466794 -0.740288
2017-05-21 -0.268852  0.295060  1.269596 -0.777452
2017-05-22 -0.498056  0.436604  0.912364 -0.769434
2017-05-23  0.911408  0.031999  0.328511 -1.034400
2017-05-24 -0.827558 -0.661670  0.265632  0.831152
2017-05-25  0.259476 -0.469716  0.150220  0.923401
2017-05-26 -0.843983 -0.126811 -0.427408 -1.225999
2017-05-27  0.779813 -1.918383 -0.114351 -0.164432
2017-05-28  0.987400  0.036307  1.315249  0.461306
2017-05-29 -1.943664  0.169873  0.054124 -1.514947
2017-05-30  0.386559 -0.063963  0.511825 -0.471762

In [72]:
df2 = df1
print df1

                   A         B         C         D
2017-05-01 -0.854713  1.088520  0.601211  0.248885
2017-05-02  1.822732  0.764971 -0.725108  0.579239
2017-05-03 -0.378096  0.088730  0.399133 -1.021112
2017-05-04  0.292038 -1.023718 -0.763466 -0.404163
2017-05-05  0.081527 -0.940100  0.172964  0.849811
2017-05-06  1.385727 -0.398456 -0.170423 -0.169768
2017-05-07 -1.065991  1.666413  0.248742 -1.209946
2017-05-08 -1.310022 -1.697253  0.060190 -0.858870
2017-05-09  1.412323 -0.994668 -1.784143  2.081711
2017-05-10  0.238547  0.239728 -1.224379 -0.255336
2017-05-11  0.129174 -0.320009 -0.444420 -1.146465
2017-05-12 -0.926960  0.082412  0.303949  0.094416
2017-05-13  0.503820  0.324777  1.065567 -0.597016
2017-05-14 -0.873499  0.791263 -0.189280  0.001459
2017-05-15  0.012805  0.806776 -0.792799 -0.301501
2017-05-16 -0.110089  0.101188 -0.465848  1.693558
2017-05-17  0.532753 -0.223585 -0.689709  0.316253
2017-05-18 -1.728641  0.622040  0.360640 -0.818385
2017-05-19 -1.455702  0.886322  1.596325 -1.048560
2017-05-20  0.627677 -1.163103  0.466794 -0.740288
2017-05-21 -0.268852  0.295060  1.269596 -0.777452
2017-05-22 -0.498056  0.436604  0.912364 -0.769434
2017-05-23  0.911408  0.031999  0.328511 -1.034400
2017-05-24 -0.827558 -0.661670  0.265632  0.831152
2017-05-25  0.259476 -0.469716  0.150220  0.923401
2017-05-26 -0.843983 -0.126811 -0.427408 -1.225999
2017-05-27  0.779813 -1.918383 -0.114351 -0.164432
2017-05-28  0.987400  0.036307  1.315249  0.461306
2017-05-29 -1.943664  0.169873  0.054124 -1.514947
2017-05-30  0.386559 -0.063963  0.511825 -0.471762

In [73]:
df2['E'] = 'one'

In [74]:
df2

                   A         B         C         D    E
2017-05-01 -0.854713  1.088520  0.601211  0.248885  one
2017-05-02  1.822732  0.764971 -0.725108  0.579239  one
2017-05-03 -0.378096  0.088730  0.399133 -1.021112  one
2017-05-04  0.292038 -1.023718 -0.763466 -0.404163  one
2017-05-05  0.081527 -0.940100  0.172964  0.849811  one
2017-05-06  1.385727 -0.398456 -0.170423 -0.169768  one
2017-05-07 -1.065991  1.666413  0.248742 -1.209946  one
2017-05-08 -1.310022 -1.697253  0.060190 -0.858870  one
2017-05-09  1.412323 -0.994668 -1.784143  2.081711  one
2017-05-10  0.238547  0.239728 -1.224379 -0.255336  one
2017-05-11  0.129174 -0.320009 -0.444420 -1.146465  one
2017-05-12 -0.926960  0.082412  0.303949  0.094416  one
2017-05-13  0.503820  0.324777  1.065567 -0.597016  one
2017-05-14 -0.873499  0.791263 -0.189280  0.001459  one
2017-05-15  0.012805  0.806776 -0.792799 -0.301501  one
2017-05-16 -0.110089  0.101188 -0.465848  1.693558  one
2017-05-17  0.532753 -0.223585 -0.689709  0.316253  one
2017-05-18 -1.728641  0.622040  0.360640 -0.818385  one
2017-05-19 -1.455702  0.886322  1.596325 -1.048560  one
2017-05-20  0.627677 -1.163103  0.466794 -0.740288  one
2017-05-21 -0.268852  0.295060  1.269596 -0.777452  one
2017-05-22 -0.498056  0.436604  0.912364 -0.769434  one
2017-05-23  0.911408  0.031999  0.328511 -1.034400  one
2017-05-24 -0.827558 -0.661670  0.265632  0.831152  one
2017-05-25  0.259476 -0.469716  0.150220  0.923401  one
2017-05-26 -0.843983 -0.126811 -0.427408 -1.225999  one
2017-05-27  0.779813 -1.918383 -0.114351 -0.164432  one
2017-05-28  0.987400  0.036307  1.315249  0.461306  one
2017-05-29 -1.943664  0.169873  0.054124 -1.514947  one
2017-05-30  0.386559 -0.063963  0.511825 -0.471762  one

In [78]:
df2[df2.E.isin(['one'])]

                   A         B         C         D    E
2017-05-01 -0.854713  1.088520  0.601211  0.248885  one
2017-05-02  1.822732  0.764971 -0.725108  0.579239  one
2017-05-03 -0.378096  0.088730  0.399133 -1.021112  one
2017-05-04  0.292038 -1.023718 -0.763466 -0.404163  one
2017-05-05  0.081527 -0.940100  0.172964  0.849811  one
2017-05-06  1.385727 -0.398456 -0.170423 -0.169768  one
2017-05-07 -1.065991  1.666413  0.248742 -1.209946  one
2017-05-08 -1.310022 -1.697253  0.060190 -0.858870  one
2017-05-09  1.412323 -0.994668 -1.784143  2.081711  one
2017-05-10  0.238547  0.239728 -1.224379 -0.255336  one
2017-05-11  0.129174 -0.320009 -0.444420 -1.146465  one
2017-05-12 -0.926960  0.082412  0.303949  0.094416  one
2017-05-13  0.503820  0.324777  1.065567 -0.597016  one
2017-05-14 -0.873499  0.791263 -0.189280  0.001459  one
2017-05-15  0.012805  0.806776 -0.792799 -0.301501  one
2017-05-16 -0.110089  0.101188 -0.465848  1.693558  one
2017-05-17  0.532753 -0.223585 -0.689709  0.316253  one
2017-05-18 -1.728641  0.622040  0.360640 -0.818385  one
2017-05-19 -1.455702  0.886322  1.596325 -1.048560  one
2017-05-20  0.627677 -1.163103  0.466794 -0.740288  one
2017-05-21 -0.268852  0.295060  1.269596 -0.777452  one
2017-05-22 -0.498056  0.436604  0.912364 -0.769434  one
2017-05-23  0.911408  0.031999  0.328511 -1.034400  one
2017-05-24 -0.827558 -0.661670  0.265632  0.831152  one
2017-05-25  0.259476 -0.469716  0.150220  0.923401  one
2017-05-26 -0.843983 -0.126811 -0.427408 -1.225999  one
2017-05-27  0.779813 -1.918383 -0.114351 -0.164432  one
2017-05-28  0.987400  0.036307  1.315249  0.461306  one
2017-05-29 -1.943664  0.169873  0.054124 -1.514947  one
2017-05-30  0.386559 -0.063963  0.511825 -0.471762  one

In [80]:
df_nan.describe()

               A          B          C          D
count  16.000000  17.000000  18.000000  11.000000
mean    0.647736   0.496058   0.560169   0.734654
std     0.532420   0.454833   0.468546   0.651893
min     0.012805   0.031999   0.054124   0.001459
25%     0.254244   0.101188   0.252965   0.282569
50%     0.518287   0.324777   0.379886   0.579239
75%     0.930406   0.791263   0.834575   0.886606
max     1.822732   1.666413   1.596325   2.081711