In [262]:
import pandas as pd
import numpy as np
import datetime as dt
import os
from util import get_data, plot_data, symbol_to_path

In [263]:
orders_file = "orders/orders-11-modified.csv"   ### Only in Untitled 1
pd.options.display.float_format = '{:20,.2f}'.format
start_val = 1000000

In [264]:
# Read in order data and convert Date to a Datetime object
orders = pd.read_csv(orders_file, na_values=['nan'])
orders["Date"] = pd.to_datetime(orders["Date"])
orders = orders.sort_values(by='Date')
orders = orders.reset_index(drop=True)

# Get start and end date from order data and build a date range
start_date = orders.ix[0,0]
end_date = orders.iloc[-1,0]
date_range = pd.date_range(start_date, end_date)

# Get an array of all stocks from orders (used in port DataFrame)
symbols = orders.ix[:,1].unique()

# Convert the symbols array to a syms list (used in get_data() function)
syms = list(symbols) 

# Build a dataframe of stock prices for stocks in the stocks variable
prices = get_data(syms, date_range)  # automatically adds SPY
del prices["SPY"]

# Build blank daily portfolio called port
port = pd.DataFrame(0, index=date_range, columns=symbols)
port["Order_Cost"] = 0   # Create a daily Order Cost column
port["Cash"] = 0     # Create a daily Cash column
port.ix[0,"Cash"] = start_val  # Add start_val to first row in the Cash column
#port["Temp_Total_Stock_Value"] = 0

In [265]:
# Calculate cost, cash, leverage, stock amount, and stock value for each order and day
for i in range(0, len(orders)):
    order_cost = 0
    order_cost_temp = 0
    current_shares = 0
    leverage_curr = 0
    stock_value_curr = 0
    stock_value_new = 0
    cash = 0
    
    ordertemp = orders.ix[i,:]   # Store the full order
    date, stock, order, shares = ordertemp[0], ordertemp[1], ordertemp[2], ordertemp[3]  # Break out each order into appropriate variables
    current_price = prices.ix[date, stock]  # get the current price for the stock in the order
    
    for j in syms:
        stock_value_curr = stock_value_curr + port.ix[date, j] * prices.ix[date, j]
        
    leverage_curr = abs(stock_value_curr) / (stock_value_curr + port.ix[date, "Cash"])
    
    if order == "BUY":
        current_shares = port.ix[date,stock] + shares  # Add ordered shares to prior amount of shares
        
        order_cost_temp = shares * current_price + 9.95 + shares * current_price * 0.005  # Compute order_cost from stock price on order date + transaction costs
        order_cost = order_cost_temp + port["Order_Cost"][date]   # Add any other order_costs from the same day for total
        
        cash = port.ix[date, "Cash"] - order_cost_temp
        
    elif order == "SELL":
        current_shares = port.ix[date,stock] - shares   # Subtract ordered shares from prior amount of shares 
        
        order_cost_temp = -1 * shares * current_price + 9.95 + shares * current_price * 0.005  # Compute order_cost from stock price on the order date + transaction costs
        order_cost = order_cost_temp + port["Order_Cost"][date]   # Add any other order_costs from the same day for total
        
        cash = port.ix[date, "Cash"] - order_cost_temp
        
    else:
        print order
        pass
    
    
    stock_value_new = stock_value_curr + order_cost_temp 
    leverage_new = abs(stock_value_new) / (stock_value_new + cash)
    
    print "date =", date
    print "stock =", stock
    print "stock_value_curr =", stock_value_curr
    print "leverage_curr =", leverage_curr
    print "cash =", cash
    print "stock_value_new =", stock_value_new
    print "leverage_new =", leverage_new
    print (leverage_new < 2.0), (leverage_new < leverage_curr)
    print
    
    if (leverage_new < 2.0) or (leverage_new < leverage_curr):
        port.ix[date:,stock] = current_shares  # Enter current amount of shares to port
        port.ix[date, "Order_Cost"] = order_cost   # Enter total daily order cost to port
        port.ix[date:, "Cash"] = cash
    else:
        print "order not implemented"
        pass

date = 2011-01-10 00:00:00
stock = GOOG
stock_value_curr = 0.0
leverage_curr = 0.0
cash = 845669.7875
stock_value_new = 154330.2125
leverage_new = 0.1543302125
True False

date = 2011-01-10 00:00:00
stock = GOOG
stock_value_curr = 153552.5
leverage_curr = 0.153672012645
cash = 691339.575
stock_value_new = 307882.7125
leverage_new = 0.308122343098
True False

date = 2011-01-13 00:00:00
stock = GOOG
stock_value_curr = 308345.0
leverage_curr = 0.308442290409
cash = 998132.9
stock_value_new = 1551.675
leverage_new = 0.00155216459152
True True

date = 2011-01-13 00:00:00
stock = IBM
stock_value_curr = 0.0
leverage_curr = 0.0
cash = 417031.95
stock_value_new = 581100.95
leverage_new = 0.582187953127
True False

date = 2011-01-26 00:00:00
stock = AAPL
stock_value_curr = 625680.0
leverage_curr = 0.600050665958
cash = 72930.1
stock_value_new = 969781.85
leverage_new = 0.930057289552
True False

date = 2011-02-02 00:00:00
stock = XOM
stock_value_curr = 977330.0
leverage_curr = 0.930559963194
cash = 1027642.55
stock_value_new = 22617.55
leverage_new = 0.0215351892355
True True

date = 2011-02-10 00:00:00
stock = XOM
stock_value_curr = 30940.0
leverage_curr = 0.0292277631064
cash = 705309.0
stock_value_new = 353273.55
leverage_new = 0.333723194285
True False

date = 2011-03-03 00:00:00
stock = GOOG
stock_value_curr = 334100.0
leverage_curr = 0.321432660291
cash = 6770421.05
stock_value_new = -5731012.05
leverage_new = 5.51372178805
False False

order not implemented
date = 2011-03-03 00:00:00
stock = IBM
stock_value_curr = 334100.0
leverage_curr = 0.321432660291
cash = 1339790.65
stock_value_new = -300381.65
leverage_new = 0.288992735295
True True

In [252]:
# Merge port and prices dataframes
port = pd.merge(port, prices, left_index=True, right_index=True)

# Create new columns for each stock to hold the daily value
ns = len(syms)       # Number of stocks
for k in range(0,ns):
    port[str(k)] = port.ix[:,k] * (port.ix[:,k+2+ns])

# Calculate the total stock value in the portfolio
port["Stock_Value"] = port.ix[:,(2*ns+2):].sum(axis=1)

# Calculate Portfolio_Value
port["Portfolio_Value"] = port["Stock_Value"] + port["Cash"]

# Create portval from Portfolio_Value as a pd.DataFrame
portval = pd.DataFrame(port["Portfolio_Value"])

In [253]:
orders

        Date Symbol Order  Shares
0 2011-01-10   GOOG   BUY     250
1 2011-01-10   GOOG   BUY     250
2 2011-01-13   GOOG  SELL     500
3 2011-01-13    IBM   BUY    4000
4 2011-01-26   AAPL   BUY    1000
5 2011-02-02    XOM  SELL   12000
6 2011-02-10    XOM   BUY    4000
7 2011-03-03   GOOG  SELL   10000
8 2011-03-03    IBM  SELL    4000

In [254]:
port.tail()#port.ix[14:19, :]

,GOOG_x,IBM_x,AAPL_x,XOM_x,Order_Cost,Cash,GOOG_y,IBM_y,AAPL_y,XOM_y,0,1,2,3,Stock_Value,Portfolio_Value
2011-02-25,0,4000,1000,-8000,0.00,"705,309.00",610.04,158.25,346.67,82.24,0.00,"633,000.00","346,670.00","-657,920.00","321,750.00","1,027,059.00"
2011-02-28,0,4000,1000,-8000,0.00,"705,309.00",613.40,157.86,351.70,82.42,0.00,"631,440.00","351,700.00","-659,360.00","323,780.00","1,029,089.00"
2011-03-01,0,4000,1000,-8000,0.00,"705,309.00",600.76,156.00,347.82,81.72,0.00,"624,000.00","347,820.00","-653,760.00","318,060.00","1,023,369.00"
2011-03-02,0,4000,1000,-8000,0.00,"705,309.00",600.79,156.18,350.61,81.99,0.00,"624,720.00","350,610.00","-655,920.00","319,410.00","1,024,719.00"
2011-03-03,-10000,0,1000,-8000,"-6,699,593.70","7,404,902.70",609.56,159.42,358.02,82.70,"-6,095,600.00",0.00,"358,020.00","-661,600.00","-6,399,180.00","1,005,722.70"

In [248]:
prices

,GOOG,IBM,AAPL,XOM
2011-01-10,614.21,143.41,340.99,72.02
2011-01-11,616.01,143.06,340.18,72.56
2011-01-12,616.87,144.82,342.95,73.41
2011-01-13,616.69,144.55,344.20,73.54
2011-01-14,624.18,145.70,346.99,74.62
2011-01-18,639.63,146.33,339.19,75.45
2011-01-19,631.75,151.22,337.39,75.00
2011-01-20,626.77,151.33,331.26,74.53
2011-01-21,611.83,151.04,325.32,75.71
2011-01-24,611.08,155.05,336.01,75.34
2011-01-25,619.91,156.81,339.94,75.43
2011-01-26,616.50,156.42,342.38,76.37
2011-01-27,616.79,156.45,341.74,76.58
2011-01-28,600.99,154.64,334.66,75.72
2011-01-31,600.36,157.35,337.87,77.34
2011-02-01,611.04,158.87,343.55,80.44
2011-02-02,612.00,158.62,342.85,79.96
2011-02-03,610.15,158.84,341.97,79.99
2011-02-04,610.98,159.30,345.02,79.84
2011-02-07,614.29,160.09,350.38,80.46
2011-02-08,618.38,161.93,353.68,79.97
2011-02-09,616.50,160.56,356.63,79.55
2011-02-10,616.44,160.02,353.02,80.18
2011-02-11,624.50,159.78,355.32,79.81
2011-02-14,628.15,159.17,357.64,81.83
2011-02-15,624.15,158.80,358.36,79.96
2011-02-16,624.22,159.34,361.58,80.65
2011-02-17,625.26,160.16,356.77,80.83
2011-02-18,630.08,160.75,349.06,81.43
2011-02-22,610.21,157.93,337.16,82.34
2011-02-23,611.32,156.20,341.16,83.91
2011-02-24,608.82,156.78,341.41,82.85
2011-02-25,610.04,158.25,346.67,82.24
2011-02-28,613.40,157.86,351.70,82.42
2011-03-01,600.76,156.00,347.82,81.72
2011-03-02,600.79,156.18,350.61,81.99
2011-03-03,609.56,159.42,358.02,82.70

In [276]:
2*np.nan

nan

In [286]:
np.isnan(np.nan)

True

In [288]:
type('nan')

str

In [289]:
order

'SELL'

In [293]:
prices.ix[date, stock]

159.41999999999999

In [310]:
counter = 0
t = 0
ran = range(0,10)
for t in ran:
    counter = counter + 1
    if t < 4:
        continue
        print "if", counter
    else:
        print "else", counter
        
    if True:
        print "True"

else 5
True
else 6
True
else 7
True
else 8
True
else 9
True
else 10
True